@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

:root {
    --green_color: #70c05b;
    --light_green_color: #e5ffde;
    --orange_color: #ff6633;
    --light_grey_color: #8f8f8f;
    --grey_color: #414141;
    --white_color: #fff;
    --background_color: #fbf8ec;
}

* {
    text-decoration: none;
    // max-width: 1440px;
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: var(--background_color);
    width: 100vw;
    max-width: 1440px;

    button {
        background: none;
        border: none;
        cursor: pointer;
    }

    .btn_hover_grey:hover {
        filter: contrast(200%);
    }
}